.parent {
    background-color:aquamarine;
    width: 80vw;
    height: 80vh;

    display: flex;
    justify-content:space-around;
    margin-top: 10px;
    align-items: center;
    flex-wrap:wrap;
    flex-direction: row;
    border-radius: 10px;



    
}
.object{
    background-color:palevioletred;
    width: 40%;
    height: 40%;
    padding-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    overflow-y: hidden;
    

}
body{
    text-align: center;
}
*{
    margin: 0px;
    padding: 0px;
}
 .object img{
    width: 100%;
    height: 50%;
    object-fit: cover;
 }
 
.first{
    background-color: aqua;
   
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
 
}
.first ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 200px;
    
}
 .ul li {
    font-size: 100px;
 }
 .ul li a {
    color: black;
 }
 .text{
    background-color: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

 }
 .text h2 {
    font-size: 70px;
 }
 .text p{
    font-size: 30px;
 }
 .coffee {

    background-color:chocolate;
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content:space-around;
    margin-top: 10px;
    align-items: center;
    flex-wrap:wrap;
    flex-direction: row;
    border-radius: 10px;
 }
 .beans { 

    width: 40%;
    height: 40%;
    padding-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    overflow-y: hidden;

 }
 .beans img{
    width: 100%;
    height: 80%;
    object-fit: cover;
 }


 

